<!DOCTYPE html>
<html>
<head>
	<title>this is a title</title>
	<style type="text/css">
		html {
			font-size : 62.5%;
		}
		.container{
			font-size : 0;	
		}
		.left, .right, .middle{
			height : 50rem;
			display : inline-block;
		}
		.left{
			width : 20rem;
			background-color: red;
		}
		.right {
			width : 20rem;
			background-color: blue;
		}
		.middle{
			width : 
			margin-left : 20rem;
			margin-right : 20rem;
			background-color: green;
		}
	</style>
</head>
<body>
	<div class = "container">
		<div class = "left"></div>
		<div class = "middle"></div>
		<div class = "right"></div>
	</div>
</body>
</html>